.myModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.myModalContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%; 
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
